/*Imports styles for the whole project*/
@import url("../project.css");

h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 4vw;
    font-weight: 900; /*300,300i,400,400i,700,900*/
    text-transform: none;
    text-shadow: 3px 2px gold;
    padding: 3vw;
    background-image: linear-gradient(to bottom right, darkgreen, forestgreen, forestgreen, darkgreen);
}

h2 {
    position: relative;
    text-align: center;
}

.overlay-div { 
    position: relative;
}

.overlay-div .hover-image {
    display: block;
    width: 80%;
    height: auto;
    margin: auto;
}

.overlay-div .hover-div-text {
    color: whitesmoke;
    text-align: center;
    position: absolute;
    top: 40%;
    width: 100%;
    font-size: 4vw;
    text-decoration: none;
}

.overlay-div .hover-div {
    position: absolute;
    top: 0;
    left: 5%;
    height: 100%;
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(102,51,153,0.9);
}

.overlay-div:hover .hover-div {
    opacity: 1;
}

.overlay-div .hover-div-text-uc {
    color: black;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    top: 40%;
    width: 100%;
    font-size: 4vw;
    text-decoration: none;
}

.overlay-div .hover-div-under-construction {
    position: absolute;
    top: 0;
    left: 5%;
    height: 100%;
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255,215,0,0.7);
}

.overlay-div:hover .hover-div-under-construction {
    opacity: 1;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.column {
    width: 50%;
    margin: 1vw;
    padding: 0;
}