$primary-dark: #021727;
$primary-light: #fbceb1;
$secondary-dark: #124e78;
$secondary-light: #fffbfe;

$blue-accent: #50c5e2;
$pink-accent: #f78d94;

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 8s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: $pink-accent;
}

h1 {
  font-size: 1.75rem;
}

header {
  background-color: $primary-dark;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  z-index: 3;
  position: fixed;
  width: 100%;

  nav {
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      list-style-type: none;
      
      align-items: center;
      justify-content: center;
      vertical-align: middle;

      li {
        padding: 0.6em;

        .link {
          color: white;
          display: flex;
          padding: 0 10px;
        }

        &.code {
          color: white;
          background-color: $secondary-dark;
          padding: 4px 16px;
          margin: 0 8px;
          border-radius: 4px;

          &:hover {
            background-color: rgba(0, 0, 0, 0.5) ;
          }
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.25);
          cursor: pointer;
        }
      }
    }
  }
}

.home {
  height: 100%;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 1 auto;

  .info {
    padding: 8px 0;
    z-index: 2;
    margin-top: 16px;
    border-radius: 50%;

    .icon {
      margin-top: 12px;
      font-size: 9vw;
      padding: 4px;
  
      &:hover {
        background-color: rgba(0, 0, 0, 0.25);
      }
  
      @media screen and (min-width: 414px) {
        font-size: 7vw;
      }
  
      @media screen and (min-width: 768px) {
        font-size: 5vw;
      }
  
      @media screen and (min-width: 1080px) {
        font-size: 4vw;
      }
  
      @media screen and (min-width: 1200px) {
        font-size: 3vw;
      }
    }
  }
}

.trabalhos {
  height: 100%;
  visibility: visible;
  display: flex;
  justify-content: center;
  text-align: center;
  flex: 1 1 auto;

  .icon {
    margin: 0 8px;
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50%;
    gap: 2rem;
    width: 100%;
    padding: 2.25rem 28px;
    overflow: auto;
    margin-top: 3rem;

    .grid-div {
      border: 2px solid $pink-accent;
      position: relative;
      border-radius: 8px;
      box-shadow: 2px 2px 8px $pink-accent;
      padding: 12px;

      .logo-wrapper {
        position: absolute;
        top: -1.25rem;
        right: -1.25rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        padding: 8px;
        background-color: white;
        border: 2px solid $pink-accent;
        box-shadow: 2px 2px 8px $pink-accent;

        .logo {
          position: relative;
          padding: 8px;
          width: 100%;
          height: 100%;
        }
      }

      .ss {
        height: 50%;
        max-width: 100%;
        border-radius: 8px;
        border: 2px solid $pink-accent;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 16px $pink-accent;

        .logo-wrapper {
          box-shadow: 2px 2px 16px $pink-accent;
        }
      }
    }

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1080px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.Circle {
  width: 1.75em;
  height: 1.75em;
  border: 1px solid white;
  border-radius: 50%;

  @media screen and (min-width: 1080px ) {
    width: 1.25em;
    height: 1.25em;
  }
}

.pattern {
  position: absolute;
  z-index: 1;
  width: 70vmin;
  height: 70vmin;

  svg {
    top: 50%;
    height: 100%;
    width: 100%;

    #first {
      fill: none;
      stroke-width: 1;
    }

    #second {
      fill: none;
      stroke-width: 1;
    }

    #third {
      fill: none;
      stroke-width: 1;
      stroke: $blue-accent;
    }
  }
}

.PrimaryDark {
  background-color: $primary-dark;
  color: $secondary-light;

  .info {
    background-color: $primary-dark;
  }

  #first {
    stroke: $primary-light;
  }

  #second {
    stroke: $secondary-dark;
  }
}

.PrimaryLight {
  background-color: $primary-light;
  color: $secondary-dark;

  .info {
    background-color: $primary-light;
  }

  #first {
    stroke: $primary-dark;
  }

  #second {
    stroke: $secondary-light;
  }
}

.SecondaryLight {
  background-color: $secondary-light;
  color: $primary-dark;

  .info {
    background-color: $secondary-light;
  }

  #first {
    stroke: $secondary-dark;
  }

  #second {
    stroke: $primary-light;
  }
}

.SecondaryDark {
  background-color: $secondary-dark;
  color: $secondary-light;

  .info {
    background-color: $secondary-dark;
  }

  #first {
    stroke: $primary-light;
  }

  #second {
    stroke: $primary-dark;
  }
}
